* {
    margin: 0;
    padding: 0;
}

#head {
    position: fixed;
    top: 0;
}

#flexx {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    position: relative;
    z-index: 34;
}

br { /*gör så att br taggar inte gör något*/
    display: none;
}

.pro {
    margin-top: 25px;
}

#body {
    background-color: lightgray;
    margin-top: 100px;
    position: relative;
    z-index: -4;
}

#body2 {
    position: relative;
    z-index: -4;
}

.box2 {
    margin-left: 25px;
    height: 20px;
    width: 250px;
    font-size: 0.8em;
}

#send {
    font-size: 15px;
    margin: 25px;
    margin-top: 45px;
}

#dinprofil {
    background-color: gray;
    height: 200px;
    width: 40%;
    border: solid black 10px;
    margin-top: 25px;
    font-size: 20px;
}

#dinprofil p {
    margin: 25px;
}

#addres {
    background-color: gray;
    height: 300px;
    width: 40%;
    border: solid black 10px;
    margin-top: 25px;
    font-size: 20px;
}

#addres p {
    margin: 10px;
}

#password {
    background-color: gray;
    height: 350x;
    width: 40%;
    border: solid black 10px;
    margin-top: 25px;
    font-size: 20px;
}

#password p {
    margin: 10px;
}

h3 {
    margin: 10px;
}

#titel {
    width: 250px;
    height: 30px;
    border: solid black 5px;
    font-size: 25px;
    text-align: center;
    background-color: gray;
    margin-top: 25px;
}

#menu {
    position: absolute;
    margin-top: 99px;
    border-bottom: solid black 3px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.produkt {
    margin-bottom: 25px;
}

@media only screen and (max-width: 460px) {
    #head {
        position: fixed;
        top: 0;
    }

    #parallax {
        background-image: url('bageri.png');
        height: 320px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size: auto;

        border-bottom: solid black 5px;
    }

    #flexx {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
        position: relative;
        z-index: 34;
    }

    .pro {
        margin-top: 25px;
    }

    #audio {
        margin-bottom: 25px;
        position: relative;
        z-index: -1;

    }

    #body {
        background-color: lightgray;
        margin-top: 250px;
        position: relative;
        z-index: -4;
    }

    #body2 {
        position: relative;
        z-index: -4;
    }

    .box2 {
        margin-left: 25px;
        height: 50px;
        width: 500px;
        font-size: 1em;
    }

    #send {
        font-size: 35px;
        margin: 25px;
        margin-top: 45px;
    }

    #dinprofil {
        background-color: gray;
        height: 425px;
        width: 650px;
        border: solid black 10px;
        margin-top: 25px;
        font-size: 45px;
    }

    #dinprofil p {
        margin: 25px;
    }

    #addres {
        background-color: gray;
        height: 600px;
        width: 650px;
        border: solid black 10px;
        margin-top: 25px;
        font-size: 45px;
    }

    #addres p {
        margin: 25px;
    }

    #password {
        background-color: gray;
        height: 675px;
        width: 650px;
        border: solid black 10px;
        margin-top: 25px;
        font-size: 45px;
    }

    #password p {
        margin: 25px;
    }

    h3 {
        margin: 25px;
    }

    #titel {
        width: 450px;
        height: 60px;
        border: solid black 5px;
        font-size: 50px;
        text-align: center;
        background-color: gray;
        margin-top: 25px;
    }

    #menu {
        position: absolute;
        margin-top: 249px;
        border-bottom: solid black 3px;
    }

    .menu-item a {
        text-decoration: none;
        color: black;
    }

    .produkt {
        margin-bottom: 25px;
    }
}
